<form action=<%= {{ camelCase name }} && {{ camelCase name }}.id ? "/{{ camelCase name }}s/update/" + {{ camelCase name }}.id: "/{{ camelCase name }}s/create" %> method="POST">
  <!-- FORM HERE -->
  <div class="form-group text-right">
    <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
  </div>
</form>