<h1>Listing {{ properCase name }}s</h1>

<table class="table">
  <thead>
    <tr>
      <!-- TABLE HEADER HERE -->
      <th></th>
    </tr>
  </thead>
  <tbody>
<% for ({{ camelCase name }} of {{ camelCase name }}s) { %>
    <tr>
      <!-- TABLE COLUMN HERE -->

      <td>
        <span><a href=<%= "/{{ camelCase name }}s/show/" + {{ camelCase name }}.id %>>Show</a></span>
        <span><a href=<%= "/{{ camelCase name }}s/edit/" + {{ camelCase name }}.id %>>Edit</a></span>
        <span><a href=<%= "/{{ camelCase name }}s/remove/" + {{ camelCase name }}.id %> onclick = "if (! confirm('Continue?')) { return false; }">Delete</a></span>
      </td>
    </tr>
<% } %>
  </tbody>
</table>

<span><a href="/{{ camelCase name }}s/new" class="btn btn-primary">New {{ camelCase name }}</a></span>