<h1>Show {{ properCase name }}</h1>
<ul class="list-group">
  <!-- ITEM HERE -->
</ul>
<span><a href=<%= "/{{ camelCase name }}s/edit/" + {{ camelCase name }}.id %>>Edit</a></span>
<span><a href="/{{ camelCase name }}s">Back</a></span>