<h1>Show User</h1>

<ul class="list-group">

  <li class="list-group-item">
    <strong>Name:</strong>
    <%= user.name %>
  </li>
  <li class="list-group-item">
    <strong>E-mail:</strong>
    <%= user.email %>
  </li>
  <li class="list-group-item">
    <strong>Password:</strong>
    <%= user.password %>
  </li>

</ul>

<span><a href=<%= "/users/edit/" + user.id %>>Edit</a></span>
<span><a href="/users">Back</a></span>